.todos {
    margin-top: 40px;
    align-items: center;
    padding-top: 2px;
    list-style: none;
    text-align: center;
}

.form {
    display: flex;
    align-items: center;
}

form {
    text-align: center;
    margin: 0 auto;;
}

h3 {
    text-align: center;
}